# Backend (Laravel)

backend/app/.DS_Store
.DS_Store
backend/*.log/
backend/.DS_Store
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpactor.json
backend/.phpunit.result.cache
backend/.fleet
backend/.idea/
backend/.nova
backend/.phpunit.cache
backend/.vscode/
backend/.zed
backend/auth.json
backend/node_modules
backend/public/build
backend/public/hot
backend/public/storage
backend/public/vendor
backend/storage/*.key
backend/storage/pail
backend/vendor
backend/bootstrap/cache/packages.php
backend/bootstrap/cache/services.php
backend/Homestead.json
backend/Homestead.yaml
backend/Thumbs.db

# App Frontend (Flutter)













.idea/
.vscode/

# Docker & Deployment
.env.docker
.env.local.docker
server.conf
server.local.conf
*.tar.gz

# Generated env files
mobile/.env

# IDE / OS noise
.DS_Store
Thumbs.db
